<div id="paymentsense-rp-payment-div"></div>
<div id="paymentsense-rp-errors-div"></div>

<div class="form-actions form-group js-form-wrapper form-wrapper">

  <div id="paymentsense-rp-button-div">
    <span class="align-left">{{ form.actions.cancel }}</span>
    <button class="align-right button form-submit btn-default btn" id="paymentsense-rp-submit-payment-btn" type="button">
        {{ 'Pay with Paymentsense' | trans }}</button>
  </div>
</div>
